<%# NanoUI Radio Group
  Options: legend, name, options (array of {label:, value:, checked:, disabled:}), error (false), class
  Usage:
    render "components/radio_group",
      legend: "Plan",
      name: "plan",
      options: [
        { label: "Free", value: "free", checked: true },
        { label: "Pro", value: "pro" },
        { label: "Enterprise", value: "enterprise" }
      ]
%>
<%
  legend_text = local_assigns.fetch(:legend, nil)
  name        = local_assigns.fetch(:name, "radio-#{SecureRandom.hex(4)}")
  options     = local_assigns.fetch(:options, [])
  error       = local_assigns.fetch(:error, false)
  classes     = local_assigns.fetch(:class, "")

  css = "radio-group"
  css += " #{classes}" if classes.present?
%>

<fieldset class="<%= css.strip %>">
  <% if legend_text %>
    <legend class="radio-group__legend"><%= legend_text %></legend>
  <% end %>

  <% options.each_with_index do |opt, i| %>
    <%
      radio_id = "#{name}-#{i}"
      radio_css = "radio"
      radio_css += " radio--error" if error
    %>
    <div class="<%= radio_css %>">
      <input type="radio"
             id="<%= radio_id %>"
             name="<%= name %>"
             value="<%= opt[:value] %>"
             class="radio__input"
             <%= "checked" if opt[:checked] %>
             <%= "disabled" if opt[:disabled] %>>
      <label for="<%= radio_id %>" class="radio__label"><%= opt[:label] %></label>
    </div>
  <% end %>
</fieldset>
