<%# NanoUI Tabs (WAI-ARIA tabs with Stimulus)
  Options: tabs (array of {id:, label:, content:, active:}), label ("Tabs"), hash (false), class
  Usage:
    render "components/tabs", label: "Settings", tabs: [
      { id: "general", label: "General", content: "General settings...", active: true },
      { id: "security", label: "Security", content: "Security settings..." },
      { id: "billing", label: "Billing", content: "Billing info..." }
    ]
%>
<%
  tabs_data  = local_assigns.fetch(:tabs, [])
  aria_label = local_assigns.fetch(:label, "Tabs")
  hash       = local_assigns.fetch(:hash, false)
  classes    = local_assigns.fetch(:class, "")

  css = "tabs"
  css += " #{classes}" if classes.present?
%>

<div class="<%= css.strip %>"
     data-controller="nanoui-tabs"
     data-nanoui-tabs-hash-value="<%= hash %>">
  <div role="tablist" class="tabs__list" aria-label="<%= aria_label %>">
    <% tabs_data.each_with_index do |tab, i| %>
      <button role="tab"
              id="tab-<%= tab[:id] %>"
              class="tabs__trigger"
              aria-selected="<%= tab[:active] ? "true" : "false" %>"
              aria-controls="panel-<%= tab[:id] %>"
              <%= "tabindex=\"-1\"" unless tab[:active] %>
              data-action="nanoui-tabs#select keydown->nanoui-tabs#navigate"
              data-nanoui-tabs-target="tab"><%= tab[:label] %></button>
    <% end %>
  </div>

  <% tabs_data.each do |tab| %>
    <div role="tabpanel"
         id="panel-<%= tab[:id] %>"
         class="tabs__panel"
         aria-labelledby="tab-<%= tab[:id] %>"
         data-nanoui-tabs-target="panel"
         <%= "hidden" unless tab[:active] %>>
      <%= tab[:content].html_safe if tab[:content] %>
    </div>
  <% end %>
</div>
